@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&family=Montserrat:wght@600;900&display=swap');

.bar {
  background-color: #00DB9C;
  font-family: 'Montserrat', sans-serif;
  width: 110vw;
  display: flex;
  color: #fff;
}

h3 {
  font-size: 1.3rem;
}

.searchInput {
  font-family: 'Fraunces', serif;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 6px;
  transition: 0.5s ease-in-out;
}

.searchInput:hover {
  box-shadow: 0 5px 1em #aaa;
  transition: 0.5s ease-in-out;
}

.searchInput:focus {
  box-shadow: 0 10px 1em rgba(0,219,156,0.41220238095238093);
  transition: 0.5s ease-in-out;
  font-size: 1.5rem;
}

.card {
  display: flex;
  text-align: justify;
  padding: 25px 10px;
}

.card img {
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0 0 1em #aaa;
  transition: 0.5s ease-in-out;
}

.card img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
}

.viewButton {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin: 10px 0;
  padding: 5px 10px;
  background: rgb(176,19,43);
  background: linear-gradient(220deg, rgba(176,19,43,1) 0%, rgba(194,14,41,1) 100%);
  transition: 0.5s ease-in-out;
  outline: none;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 50px;
}

.viewButton:hover {
  box-shadow: 0 0 1em rgba(194,14,41,0.5102415966386555);
  transition: 0.5s ease-in-out;
}

.App {
  text-align: center;
  font-family: 'Fraunces', serif;
  font-size: 1.3rem;
  overflow-x: hidden;
}
